body {
    margin: 0;
    background: rgba(34, 34, 34);
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

.tekstmidden{
    text-align: center;
}

.footerclass{
    margin-top: 10%;
}
.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}

form {
    text-align: center;
}

.teamfoto {
    width: 100%;
    height: auto;
    margin-block: 10px;
    border-radius: 1%;
    box-shadow: 0 7px 14px 0 rgb(0 0 0 / 42%);
}


