/* flexboxes voor de about pagina */

.about-flexbox-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-flexbox-item{
    width: 350px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    /*
    border: 3px solid #333;
    background-color: #dfdfdf;*/
}

.about-flexbox-text{
    flex: 2 1 auto;

}

.about-flexbox-item-1{
    min-height: 100px;
}

.about-flexbox-item-2{
    min-height: 200px;
    min-width: 80%;
    margin-top: 20px;
}

.about-flexbox-item-3{
    min-height: 300px;
}

.about-space-tile{
    --paddingwaarde: 0%;
    padding-top: 0%;
    padding-right: var(--paddingwaarde);
    padding-left: var(--paddingwaarde);
}

.about-section-gray{
    --marginside: 10%;
    --margintop: 6%;
    --marginbottom: 2%;
    background-color: #333333a3;
    color: white;
    margin-left: var(--marginside);
    margin-right: var(--marginside);
    margin-top: var(--margintop);
    margin-bottom: var(--marginbottom);
    border-radius: 0.5%;
    cursor: default;
}

.about-page-background {
    background-image: url("/assets/intrumenten.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 100%;
    height: 100vh; /* Full viewport height */
    
    position: fixed; /* This keeps it in place */
    top: 0;
    left: 0;
    
    z-index: -1; /* Push it behind content */
}

.shows-page-background {
    background-image: url("/assets/gigachtergrond.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 100%;
    height: 100vh; /* Full viewport height */
    
    position: fixed; /* This keeps it in place */
    top: 0;
    left: 0;
    
    z-index: -1; /* Push it behind content */
}

/* flexboxes voor de voorpagina */

.main-flexbox-container-1 {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 42px;
    
    /*  */
}

.main-flexbox-container-2 {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 130px;
    

    /*  */
}

.main-flexbox-container-3 {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 100px;
    
    /*  */
}

.main-flexbox-item{
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
    /* border: 3px solid #333;
    background-color: #dfdfdf;*/
}

.main-flexbox-item-1{
    min-height: 83px;
    align-items: center;
    
}

.main-flexbox-item-2{
    min-height: 83px;
    align-items: center;
    width: 650px;
}

.main-space-tile{
    --paddingwaarde: 0%;
    padding-top: 0%;
    padding-right: var(--paddingwaarde);
    padding-left: var(--paddingwaarde);
}

.main-page-background{
    background-image: url("/assets/gitaren.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 10%;
}

.main-showsection-gray {
    --marginside: 5%;
    --margintopbottom: 2%;
    background-color: #333333a3;
    color: white;
    margin-left: var(--marginside);
    margin-right: var(--marginside);
    margin-top: var(--margintopbottom);
    margin-bottom: var(--margintopbottom);
    border-radius: 0.5%;
    cursor: default;
}

/* flexboxes voor de concactpagina */

.contact-background{
    background-image: url("/assets/contac.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 60%;
    height: 90.75%;

    
    /*background-color: rgb(58, 123, 202);
    width: 100%;
    height: 100%;
    display: block;*/
}

.contact-flexbox-container-1 {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 42px;
    
    /* border: 3px solid #960000;
    background-color: #f5c8c8; */
}

.contact-flexbox-item{
    width: 500px;
    margin-left: 15px;
    margin-right: 15px;
    /* border: 3px solid #333;
    background-color: #dfdfdf;*/
}

.contact-flexbox-item-1{
    min-height: 83px;
    align-items: center;
    
}

.contact-page-background{
    background-image: url("/assets/gitaren.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 10%;
}

.ticket-flexbox-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1; /* Ensures equal width for both divs */
    min-height: 100%; /* Helps with vertical alignment */
}

.ticket-flexbox-container {
    display: flex;
    align-items: stretch; /* Ensures both children take up equal height */
}

.ticket-section-gray{
    --marginside: 10%;
    --margintop: 6%;
    --marginbottom: 2%;
    background-color: #333333a3;
    color: white;
    margin-left: var(--marginside);
    margin-right: var(--marginside);
    margin-top: var(--margintop);
    margin-bottom: var(--marginbottom);
    border-radius: 0.5%;
    cursor: default;
}

.ticket-flexbox-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.text-space-tile{
    --paddingwaarde: 0%;
    padding-top: 0%;
    padding-right: var(--paddingwaarde);
    padding-left: var(--paddingwaarde);
}

.ticket-flexbox-item-2{
    min-height: 200px;
    min-width: 80%;
    margin-top: 20px;
}

#check {display: none;}
@media(max-width: 1463px) {
    .about-flexbox-item{
        width: 260px;
    }
}
/* flexbox voor telefoon */

#check {display: none;}
@media(max-width: 990px) {
    .ticket-section-gray{
        --marginside: 0%;
        margin-left: var(--marginside);
        margin-right: var(--marginside);
        margin-top: 22%;
    }

    .about-section-gray{
        --marginside: 0%;
        margin-left: var(--marginside);
        margin-right: var(--marginside);
        margin-top: 22%;
    }
    
    .about-flexbox-item{
        width: 450px;
        padding-top: 20px;
        /*
        border: 3px solid #333;
        background-color: #dfdfdf;*/
    }
    .about-flexbox-item-3{
        min-height: 300px;
    }
    .main-flexbox-item{
        width: 600px;
    }
    .main-flexbox-item-1{
        min-height: 0px;
        align-items: center;
        padding-bottom: 22.5px;
    }
    .main-flexbox-item-2{
        min-height: 10px;   
    }
    .main-flexbox-container-1 {
        margin-bottom: 0px;
        margin-top: 100px;
    }
    .main-flexbox-container-2 {
        margin-top: 0px;
    }

    .main-flexbox-container-3 {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .about-page-background{
        background-image: url("/assets/aboutachtergrondphone.png");
    }
    .contact-flexbox-item{
        width: 800px;
        margin-left: 15px;
        margin-right: 15px;
        /* border: 3px solid #333;
        background-color: #dfdfdf;*/
    }
}
